<h1>TypeFormats#index</h1>
<p>Find me in app/views/type_formats/index.html.erb</p>
<%= form_with(model: @type, local: true) do |f| %>
    <% if @type.errors.any? %>
        <div id = 'error_explanation'>
            <h2>Este tipo no se pudo crear por las siguientes razones</h2>
            <ul>
                <% @type.errors.full_messages.each do |msg|%>
                    <li><%= msg %></li>
                <% end %>
            </ul>
        </div>
    <% end %>

    <div class="form-group">
        <%= f.label :title %>
        <%= f.text_field :title, class: 'form-group' %>
    </div>
    
    <div class = 'actions'>
        <%= f.submit %>
    </div>
<% end %>
<br>
<table class="table table-dark">
  <thead>
    <tr>
      <th>Title</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @type_formats.each do |type_format| %>
      <tr>
        <td><%= type_format.title %></td>
        <td><%= link_to 'Show', type_format %></td>
        <td><%= link_to 'Edit', edit_type_format_path(type_format) %></td>
        <td><%= link_to 'Destroy', type_format, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>
