<h1>Book marks</h1>

<div id="bookmark-form"></div>

<div id="urlmark-button">
    <%= link_to "Nueva bookmark", new_urlmark_path, class: "btn btn-success", remote: true, data: { confirm: 'Are you sure create a new bookmark?' }  %>
</div> 

<div id="bookmark-show" class="my-3"></div>

<table class="table table-dark">
  <thead>
    <tr>
      <th>id</th>
      <th>url</th>
      <th>category_id</th>
      <th>type_id</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody id="bookmark-table">
    <% @urlmarks.each do |urlmarks| %>
      <tr>
        <th scope="row"><%= urlmarks.id %></th>
        <td><%= urlmarks.url %></td>
        <td><%= urlmarks.category_id %></td>
        <td><%= urlmarks.type_format_id %></td>
        <td><%= link_to 'Show', urlmarks, remote: true, class: "btn btn-info" %></td>
        <td><%= link_to 'Edit', edit_urlmark_path(urlmarks), remote: true, class: "btn btn-success"  %></td>
        <td><%= link_to 'Destroy', urlmarks, method: :delete, remote: true, class: "btn btn-warning" , data: { confirm: 'Are you sure?' } %></td> 
      </tr>
    <% end %>
  </tbody>
</table>

<%= link_to "Categories", categories_path, class: "btn btn-success"  %>
<%= link_to "Types", type_formats_path, class: "btn btn-success"  %>