<h1>Categories#index</h1>
<p>Find me in app/views/categories/index.html.erb</p>
<%= form_with(model: @category, local: true) do |f| %>
    <% if @category.errors.any? %>
        <div id = 'error_explanation'>
            <h2>Este tipo no se pudo crear por las siguientes razones</h2>
            <ul>
                <% @category.errors.full_messages.each do |msg|%>
                    <li><%= msg %></li>
                <% end %>
            </ul>
        </div>
    <% end %>

    <div class="form-group">
        <%= f.label :title %>
        <%= f.text_field :title, class: 'form-group' %>
    </div>
    <div class="form-group">
        <%= f.label :public %>
        <%= f.check_box :public, class: 'form-group' %>
    </div>
    <div class="form-group">
        <%= f.label :category_id %>
        <%= f.select :category_id, options_from_collection_for_select(@categories, 'id', 'title', '0'), include_blank: true, class: 'form-group'  %>
    </div>
    
    <div class = 'actions'>
        <%= f.submit %>
    </div>
<% end %>
<br>
<table class="table table-dark">
  <thead>
    <tr>
      <th>Title</th>
      <th>public</th>
      <th>Category</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @categories.each do |categories| %>
      <tr>
        <td><%= categories.title %></td>
        <td><%= categories.public %></td>
        <td><%= categories.category_id %></td>
        <td><%= @main_category %></td>
        <td><%= link_to 'Show', categories %></td>

        <td><%= link_to 'Destroy', categories, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>