<h1>Categories#index</h1>
<p>Find me in app/views/categories/index.html.erb</p>

<%= render 'form', category: @category %>

<table class="table table-dark">
  <thead>
    <tr>
      <th>Title</th>
      <th>public</th>
      <th>Category</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @categories.each do |categories| %>
      <tr>
        <td><%= categories.title %></td>
        <td><%= categories.public %></td>
        <td><%= categories.category_id %></td>
        <td><%= @main_category %></td>
        <td><%= link_to 'Show', categories %></td>

        <td><%= link_to 'Destroy', categories, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<%= link_to "urlMarks", root_path, class: "btn btn-success"  %>